@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

:root{
    --black: #36393d;
    --black2: #43464a;
    --accent2: #707070;
    --accent: #c3c3c3;
}

* {
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}



header {
    text-align: center;
    background-color: var(--accent);
    padding: 0 0 20px 0;
  } 

nav {
    text-align: center;
    background-color: var(--black);
    padding: 16px 20px 16px 20px;
} 

nav div {
  display: flex;
  justify-content: center;
}

nav div a {
  padding: 20px 20px 20px 20px;
  margin: 0 -4px 0 -4px;
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: end;
} 

nav div a:link {color: var(--accent); text-decoration: none; background-color: var(--black);}
nav div a:visited {color: var(--accent2); text-decoration: none; background-color: var(--black);}
nav div a:hover {color: white; text-decoration: none; 
    /* background-color: var(--accent);  */
    font-size: 24px;}
nav div a:active {color: #fdc500; text-decoration: none; background-color: var(white);}

nav div a.currentPage {color: white; font-size: 30px;}

header h1 {
    padding: 20px 0 10px 0;
  } 

header div.contact a {
    margin: 0 5px 0 5px;
}

header div.contact a:link {color: var(--accent2); text-decoration: none;}
header div.contact a:hover {color: white; text-decoration: none; }
header div.contact a:active {color: #fdc500; text-decoration: none;}

@media (min-width: 800px){
  .h3, h3 {
      font-size: 1.6rem !important;
  }
}

main {
    max-width: 800px;
    margin: 0 auto;
    float: none;
    padding: 20px 20px;
}

img {
    width: 10%;
    margin: 10px;
}

div.name h1 {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;;
}

footer {
    text-align: center;
    background-color: var(--accent);
    padding: 20px 20px 20px 20px;
} 